/* Dung css nay cho editor */
@import "primeicons/primeicons.css";
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";

.payment-pill {
  padding: 10px 18px;
  background: #f1f5f9;
  border-radius: 999px;
  border: 1px solid #d1d5db;
  color: #0f172a;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
